<footer id="subsol">
  <p id="banner-print">Acesta este un proiect școlar!</p>
  <a href="#top" title="Mergi la începutul paginii" id="link-top">
    <div id="triunghi">
      <span id="sageata">🠹</span>
    </div>
  </a>

  <div class="footer-layout">
    <div class="footer-contact">
    <h3 class="footer-titlu">Contactează-ne</h3>
  
    <address>
      <p><strong>Telefon:</strong> <a href="tel:+40744768996">+40 744 768 996</a></p>
      <p><strong>E-mail:</strong> <a href="mailto:contact@handballgear.example">contact@handballgear.example</a></p>
      <p><strong>WhatsApp:</strong> <a href="https://wa.me/40721111111">Chat pe WhatsApp</a></p>
      <p><strong>Adresă:</strong> 
        <a href="https://www.google.com/maps/search/Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank" rel="noopener noreferrer">
          Strada Academiei 14, 010014 București<br>București, România
        </a>
      </p>
    </address>
  </div>

    <div class="footer-harta">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.9551664650025!2d26.038219876046067!3d44.4340818710758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201f609995a6f%3A0x8a7b024778b7d337!2sPolitehnica%20Business%20Tower!5e0!3m2!1sro!2sro!4v1772460877303!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Harta locației Handball Gear"></iframe>
    </div>
  </div>

  <div class="footer-copyright">
    <p><small>© Handball Gear — pagină creată la <time datetime="2026-03-02">2 martie 2026</time></small></p>
  </div>
</footer>